P{	Color:red;
font-Size:20pt;}

/*
Div{Background-Color:#20aa30;
WIDTH:300px;
Height:400px;
} 
*/

.block1{Background-Color:#F2CED3;
WIDTH:100px;
Height:200px;
}

.block1 b{Background-Color:#F2CED3;
Color:BROWN;
}

#block2{Background-Color:#21Cdf3;
WIDTH:75px;
Height:130px;
}

b,z{ color:Yellow;}

#mapid { height: 500px; }